<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.KeyVault" version="3.0.5" targetFramework="net472" />
  <package id="Microsoft.Azure.KeyVault.WebKey" version="3.0.5" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.10.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.KeyVaultExtensions" version="6.10.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.10.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.10.2" targetFramework="net472" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.18" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.10.2" targetFramework="net472" />
</packages>